<html xmlns: th="http://www.thymeleaf.org">

<body>

<h1>Login</h1>

 <form action="/login" method="post">
 Email : <input type="text" name="email"> <br>
 Password : <input type="text" name="pwd"> <br>
<input type="submit" value="Submit">
</form>

 <hr/>

<h1>Sign in</h1>

 <form action="/signup" method="post">
 Email : <input type="text" name="email"> <br>
 Password : <input type="password" name="pwd"> <br>
 Nom : <input type="text" name="nom"> <br>
 Prénom : <input type="text" name="prenom"> <br>
<input type="submit" value="Submit">
</form>

