<html xmlns: th="http://www.thymeleaf.org">


<body>


<h1>Agendas</h1>


<table border="1">

<tr>
    <th>Id</th>
    <th>Nom</th>
    <th>évenements</th>
</tr>
<tr th:each="agenda : ${agendas}">
    <td th:text="${agenda.id}" />
    <td th:text="${agenda.nom}" >
    <td>
        <a th:href="@{/evenements/liste/{agendaId}(agendaId=${agenda.id})}">Voir --></a>
    </td>
</tr>

</table>
<br>
<br>

<a href="/mesAgendas/new">Nouveau agenda</a>



<br>
<hr/>
<br>
</h1> 
    <a href="/logout">Déconnexion</a><br/><br/>
 

